@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
//@at-root
@import "variables";
@import "mixins";

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
/*$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
*/
// Update some of Bulma's component variables
/*
$body-background-color: $light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
*//*
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/form.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/footer.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/components/tabs.sass";
*/

html,body {
	margin: 0;
	padding: 0;
}

.page-header {
	.navbar {
		z-index: 0 !important;
		a.navbar-item:hover {
			background-color: $blue-dark;
			color: #ffffff;
		}
	}
}

.skewed {
    position: relative;
    padding: 0;
}

.page-introduction {
	position: relative;
	box-shadow: -1px 9px 19px -8px rgba(0,0,0,0.25);
}

.page-introduction {
	min-height: 60vh;
	max-width: 100%;
	box-sizing: border-box;
	&::before {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		left: 0;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='344' height='344' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23c2c8cf' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23427aa1'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8' /%3E%3C/g%3E%3C/svg%3E");		
		z-index: 20;
		opacity: 0.45;
	}
	.intro-showcase {
		flex-direction: column;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 80px;
		z-index: 40;
		background-position: 52% 77%;
		.site-logo {
			position: relative;
			display: flex;
			padding: 15px 40px;
    		border-radius: 20px;
			background: rgba(255, 255, 255, 0.8);
			&::after {
				position: absolute;
				content: "Permanente";
				bottom: 12%;
				font-weight: 400;
				right: 40px;
				font-size: 2em;
				border-bottom: 3px solid $blue-dark;
			}
			img {
				filter: drop-shadow(2px 2px 2px #4a4a4a);
			}
			p {
				text-shadow: 1px 2px 2px #4a4a4a;
				letter-spacing: 2px;
				align-self: center;
				font-size: 4em;
				font-weight: 600;
				margin-left: 8px;
				color: $blue-dark
			}
			/*
			img {
				animation: spin 4s linear;
				transform-origin: 50% 50%;
			}
			@keyframes spin { 
				0% {  transform: rotate(0deg); }
				8% {  transform: rotate(30deg); }
				16% {  transform: rotate(30deg); }
				24% {  transform: rotate(30deg); }
				30% {  transform: rotate(60deg); }
				40% {  transform: rotate(60deg); }
				50% {  transform: rotate(90deg); }
				60% {  transform: rotate(90deg); }
  				100% { transform:rotate(120deg) }
			}*/
		}
		.buttons {
			flex-direction: column;
			align-items: flex-start;
			width: 50%;
			padding-top: 50px;
			.button {
				box-shadow: 0px 2px 2px -2px rgba(50, 50, 50, 0.7);
				background-color: $blue-dark;
				margin-top: 15px;
				padding: 30px;
				position: relative;
				border-right: none !important;
				&::after {
					cursor: pointer;
					position: absolute;
					content: "";
					width: 100%;
					height: 104%;
					background-color: $blue-dark;
					transform: skewX(-25deg);
					right: -35px;
					border-top-right-radius: 5px;
					border-bottom-right-radius: 20px;
					//background: red;
					z-index: -10;
				}
			}
			.button.tutorial {
				width: 90%;
			}
			.button.docs {
				width: 80%;
			}
		}
	}
	.intro-description {
		background-color: $blue-dark;
		background-size: contain;
		background-image: inherit;
		padding-bottom: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
		//z-index: 80;
		&::before {
			position: absolute;
			content: "";
			width: 150%;
			height: 200%;
			bottom: 0;
			left: 0;
			background-color: $blue-dark;
			transform-origin: bottom left;
			transform: skewX(10deg);
			z-index: 10;
		}
		.container {
			z-index: 100;
		}
	}
}

// INSERIMENTO OGGETTI

.page-description {
	padding: 0 200px;
	padding-top: 100px;
	min-height: 30vh;
}

.modal-card-title {
	text-align: center;
}

.modal-card-body {
	display: flex;
	background-color: $light;
	img {
		max-height: 150px;
	}
	
}
.object-insertion {
	border-radius: 15px;
	max-width: 100%;
	.tabs {
		.is-active {
			border-bottom: 2px solid $blue-dark;
			color: $blue-dark;
			font-weight: bold;
	}
	}
	#filePreview {
		display: flex;
		img {
			max-height: 300px;
			max-width: 250px;
			margin: 10px;
			border: 4px solid $light;
			&:hover {
				cursor: pointer;
				border: 4px solid green;
			}
		}
		.mainPreview {
			border: 4px solid green;
		}
	}
}

.object-loader {
	@include loader;
}

//---------------------------------------------------------------------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------------

.page-content {
	/*&::before {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		left: 0;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='344' height='344' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23c2c8cf' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23427aa1'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8' /%3E%3C/g%3E%3C/svg%3E");		
		z-index: -1000;
		opacity: 0.45;
	}*/
}
  
.artwork-creation {
	padding-left: 0 !important;
	padding-right: 0 !important;
	position: relative;
	border-right: 1px solid #DEDEDE;
	box-shadow: 2px 0 0 0 #f5f5f5;
	&::before {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		left: 0;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='344' height='344' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23c2c8cf' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23427aa1'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8' /%3E%3C/g%3E%3C/svg%3E");		
		z-index: -1;
		opacity: 0.45;
	}
	.creation-new {
		height: 95px;
		padding: 50px 40px;
	}

	.creation-status {
		color: #6F7B7E;
		padding: 25px 0;
		.item {
			display: block;
			padding: 10px 0;
			color: #6F7B7E;
			&:hover {
				background-color: #F2F2F2;
			}
		}
		.item.active {
			background-color: #F1F1F1;
		}
		.icon {
			font-size: 19px;
			padding-right: 30px;
			color: #A0A0A0;
		}
		.name {
			font-size: 15px;
			color: #5D5D5D;
			font-weight: 500;
		}
	}
} //Section 1

.artwork-object {
	/* Styles */
	&[data-val='true'] {
	border: 3px solid $green-light;
	position: relative;
	&::before {
		content: "";
		display:block;
		height:65px;
		width:65px;
		background-size: cover;
		background-image: url(../img/valid-document.svg);
		background-repeat: no-repeat;
		position: absolute;
		top: 10px;
		right: 0;
	}
	}
	&[data-val='false'] {
		position: relative;
		&::before {
			content: "";
			display:block;
			height:55px;
			width:55px;
			background-size: cover;
			background-image: url(../img/awaitForApproval.svg);
			background-repeat: no-repeat;
			position: absolute;
			top: 10px;
			right: 0;
		}
	}
}

.media {
	border-radius: 15px;
	margin-top: 45px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	height: 200px;
	padding: 0 !important;
	&:hover {
		//cursor: pointer;
		background-color: #F2F2F2;
	}
	.media-left {
		align-self: center;
		width: 200px;
		padding: 0;
	}
	.image {
		height: auto;
		max-height: 180px;
		max-width: 200px;
		margin: 0 auto;
	}
	.content {
		font-size: 0.9em;
	}
	.bottom-content {
		justify-content: space-between;
    display: flex;
	}
} //section 2

.artwork-description {
	background-color: #05668D;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='344' height='344' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23c2c8cf' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23427aa1'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8' /%3E%3C/g%3E%3C/svg%3E");		
	display: flex;
	.artwork-description-title {
		text-shadow: 1px 1px 1px #4a4a4a;
    align-self: center;
    font-size: 2.5em;
    font-weight: 600;
    color: #ffffff;
	}
	.description-preview {
		height: 100%;
		margin-top: 40px;
		margin-right: 20px;
	}
	.artwork-info {
		text-align: center;
		align-items: center;
		.address .name {
			font-size: 16px;
			font-weight: bold;
		}
		.address .email {
			font-weight: bold;
			color: #B6C7D1;
		}
		.avatar {
			height: 100px;
			width: 100px;
			margin: 0 auto;
			border-radius: 50px;
    	border: 2px solid #999;
			padding: 2px;
			overflow: hidden;
			position: relative;
			img {
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				min-height: 100%;
				min-width: 100%;
				transform: translate(-50%, -50%);
			}
		}
	}
	.artwork-actions {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
	.description-content {
		display: flex;
		flex-direction: column;
		font-size: 1em;
		text-align: center;
		img {
			display: flex;
			flex-direction: row;
			max-width: 250px;
			max-height: 300px;
			border: 1px solid $blue-light;
			margin-right: 10px;
		}
	}
	.description-footer {
		margin-top: 25px;
		img {
			max-width: 250px;
			max-height: 300px;
			border: 1px solid $blue-light;
			margin-right: 10px;
		}
	}
}
.modal-card {
	width: 1024px;
}

@media (max-width: 769px) {
	.intro-description::before {
		content: none !important;
	}
	.page-introduction {
		padding: 0;
		margin: 0;
	}
}

/*
.skewed::after {
	position: absolute;
	content: "";
	width: 40%;
	height: 100%;
	top: 0;
	right: 0;
	background-color: $blue-light;
	transform-origin: left left;
	transform: skewX(3deg);
	z-index: -25;
}*/