@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
/*$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
*/
/*
$body-background-color: $light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
*/
/*
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/form.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/footer.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/components/tabs.sass";
*/
html, body {
  margin: 0;
  padding: 0; }

.page-header .navbar {
  z-index: 0 !important; }
  .page-header .navbar a.navbar-item:hover {
    background-color: #05668D;
    color: #ffffff; }

.skewed {
  position: relative;
  padding: 0; }

.page-introduction {
  position: relative;
  box-shadow: -1px 9px 19px -8px rgba(0, 0, 0, 0.25); }

.page-introduction {
  min-height: 60vh;
  max-width: 100%;
  box-sizing: border-box; }
  .page-introduction::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='344' height='344' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23c2c8cf' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23427aa1'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8' /%3E%3C/g%3E%3C/svg%3E");
    z-index: 20;
    opacity: 0.45; }
  .page-introduction .intro-showcase {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
    z-index: 40;
    background-position: 52% 77%; }
    .page-introduction .intro-showcase .site-logo {
      position: relative;
      display: flex;
      padding: 15px 40px;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.8);
      /*
			img {
				animation: spin 4s linear;
				transform-origin: 50% 50%;
			}
			@keyframes spin { 
				0% {  transform: rotate(0deg); }
				8% {  transform: rotate(30deg); }
				16% {  transform: rotate(30deg); }
				24% {  transform: rotate(30deg); }
				30% {  transform: rotate(60deg); }
				40% {  transform: rotate(60deg); }
				50% {  transform: rotate(90deg); }
				60% {  transform: rotate(90deg); }
  				100% { transform:rotate(120deg) }
			}*/ }
      .page-introduction .intro-showcase .site-logo::after {
        position: absolute;
        content: "Permanente";
        bottom: 12%;
        font-weight: 400;
        right: 40px;
        font-size: 2em;
        border-bottom: 3px solid #05668D; }
      .page-introduction .intro-showcase .site-logo img {
        filter: drop-shadow(2px 2px 2px #4a4a4a); }
      .page-introduction .intro-showcase .site-logo p {
        text-shadow: 1px 2px 2px #4a4a4a;
        letter-spacing: 2px;
        align-self: center;
        font-size: 4em;
        font-weight: 600;
        margin-left: 8px;
        color: #05668D; }
    .page-introduction .intro-showcase .buttons {
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
      padding-top: 50px; }
      .page-introduction .intro-showcase .buttons .button {
        box-shadow: 0px 2px 2px -2px rgba(50, 50, 50, 0.7);
        background-color: #05668D;
        margin-top: 15px;
        padding: 30px;
        position: relative;
        border-right: none !important; }
        .page-introduction .intro-showcase .buttons .button::after {
          cursor: pointer;
          position: absolute;
          content: "";
          width: 100%;
          height: 104%;
          background-color: #05668D;
          transform: skewX(-25deg);
          right: -35px;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 20px;
          z-index: -10; }
      .page-introduction .intro-showcase .buttons .button.tutorial {
        width: 90%; }
      .page-introduction .intro-showcase .buttons .button.docs {
        width: 80%; }
  .page-introduction .intro-description {
    background-color: #05668D;
    background-size: contain;
    background-image: inherit;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .page-introduction .intro-description::before {
      position: absolute;
      content: "";
      width: 150%;
      height: 200%;
      bottom: 0;
      left: 0;
      background-color: #05668D;
      transform-origin: bottom left;
      transform: skewX(10deg);
      z-index: 10; }
    .page-introduction .intro-description .container {
      z-index: 100; }

.page-description {
  padding: 0 200px;
  padding-top: 100px;
  min-height: 30vh; }

.object-insertion {
  background-color: #EBF2FA;
  max-width: 100%; }
  .object-insertion #filePreview {
    display: flex; }
    .object-insertion #filePreview img {
      max-height: 300px;
      max-width: 250px;
      margin: 10px;
      border: 4px solid #EBF2FA; }
      .object-insertion #filePreview img:hover {
        cursor: pointer;
        border: 4px solid green; }
    .object-insertion #filePreview .mainPreview {
      border: 4px solid green; }

.modal-card-body {
  display: flex; }
  .modal-card-body img {
    max-height: 150px; }

.object-loader .spinner {
  margin: 10px auto;
  width: 70px;
  height: 60px;
  text-align: center;
  font-size: 12px; }

.object-loader .spinner > div {
  background-color: #679436;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out; }

.object-loader .spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.object-loader .spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

.object-loader .spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.object-loader .spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }

.messages .action-buttons {
  padding: 0;
  margin-top: -20px; }

.message .action-buttons {
  padding: 0;
  margin-top: -5px; }

.action-buttons .control.is-grouped {
  display: inline-block;
  margin-right: 30px; }

.action-buttons .control.is-grouped:last-child {
  margin-right: 0; }

.action-buttons .control.is-grouped .button:first-child {
  border-radius: 5px 0 0 5px; }

.action-buttons .control.is-grouped .button:last-child {
  border-radius: 0 5px 5px 0; }

.action-buttons .control.is-grouped .button {
  margin-right: -5px;
  border-radius: 0; }

.pg {
  display: inline-block;
  top: 10px; }

.action-buttons .pg .title {
  display: block;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 3px;
  font-size: 12px;
  color: #AAAAAA; }

.action-buttons .pg a {
  font-size: 12px;
  color: #AAAAAA;
  text-decoration: none; }

.is-grouped .button {
  background-image: linear-gradient(#F8F8F8, #F1F1F1); }

.is-grouped .button .fa {
  font-size: 15px;
  color: #AAAAAA; }

.inbox-messages {
  margin-top: 60px; }

.message-preview {
  margin-top: 60px; }

.inbox-messages .card {
  width: 100%; }

.inbox-messages strong {
  color: #5D5D5D; }

.inbox-messages .msg-check {
  padding: 0 20px; }

.inbox-messages .msg-subject {
  padding: 10px 0;
  color: #5D5D5D; }

.inbox-messages .msg-attachment {
  float: right; }

.inbox-messages .msg-snippet {
  padding: 5px 20px 0px 5px; }

.inbox-messages .msg-subject .fa {
  font-size: 14px;
  padding: 3px 0; }

.inbox-messages .msg-timestamp {
  float: right;
  padding: 0 20px;
  color: #5D5D5D; }

.message-preview .avatar {
  display: inline-block; }

.message-preview .top .address {
  display: inline-block;
  padding: 0 20px; }

.avatar img {
  width: 40px;
  border-radius: 50px;
  border: 2px solid #999;
  padding: 2px; }

.address .name {
  font-size: 16px;
  font-weight: bold; }

.address .email {
  font-weight: bold;
  color: #B6C7D1; }

.card.active {
  background-color: #F5F5F5; }

.page-content {
  /*&::before {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		left: 0;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='344' height='344' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23c2c8cf' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23427aa1'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8' /%3E%3C/g%3E%3C/svg%3E");		
		z-index: -1000;
		opacity: 0.45;
	}*/ }

.artwork-creation {
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: relative;
  border-right: 1px solid #DEDEDE;
  box-shadow: 2px 0 0 0 #f5f5f5; }
  .artwork-creation::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='344' height='344' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23c2c8cf' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23427aa1'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8' /%3E%3C/g%3E%3C/svg%3E");
    z-index: -1;
    opacity: 0.45; }
  .artwork-creation .creation-new {
    height: 95px;
    padding: 50px 40px; }
  .artwork-creation .creation-status {
    color: #6F7B7E;
    padding: 25px 0; }
    .artwork-creation .creation-status .item {
      display: block;
      padding: 10px 0;
      color: #6F7B7E; }
      .artwork-creation .creation-status .item:hover {
        background-color: #F2F2F2; }
    .artwork-creation .creation-status .item.active {
      background-color: #F1F1F1; }
    .artwork-creation .creation-status .icon {
      font-size: 19px;
      padding-right: 30px;
      color: #A0A0A0; }
    .artwork-creation .creation-status .name {
      font-size: 15px;
      color: #5D5D5D;
      font-weight: 500; }

.media {
  margin-top: 45px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  min-height: 225px; }
  .media:hover {
    background-color: #F2F2F2; }
  .media .media-left {
    align-self: center; }
  .media .image {
    height: auto;
    max-height: 225px;
    max-width: 200px; }

.artwork-description .description-preview {
  margin-top: 35px; }

.artwork-description .box {
  height: 100%; }

.artwork-description .description-content img {
  max-width: 300px;
  max-height: 300px; }

.modal-card {
  width: 1024px; }

@media (max-width: 769px) {
  .intro-description::before {
    content: none !important; }
  .page-introduction {
    padding: 0;
    margin: 0; } }

/*
.skewed::after {
	position: absolute;
	content: "";
	width: 40%;
	height: 100%;
	top: 0;
	right: 0;
	background-color: $blue-light;
	transform-origin: left left;
	transform: skewX(3deg);
	z-index: -25;
}*/
